.relateproducts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 190px;
}

.relateproducts h1{
    color: darkmagenta;
    font-size: 50px;
    font-weight: 800;
}

.relateproducts hr{
    width: 300px;
    height: 6px;
    border-radius: 10px;
    background-color: darkslategrey;
    margin-top: -5px;
}

.relateproduct-item{
    display: flex;
    margin-top: 50px;
    gap: 50px;
}