.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}



.footer-link{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    color: black;
    font-size: 20px;
}

.footer-logo p{
    color: darkred;
    font-size: 45px;
    font-weight: 700;
}

.footer-link li{
    cursor: pointer;
    font-weight: 700;

}

.footer-social-icon{
    display: flex;
    gap: 20px;
}

.footer-icon-container{
    padding: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 1px solid wheat;
    cursor: pointer;

}

.footer-icon-container:hover{
    background-color: green;
    transition: 1s;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}



.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background-color: grey;
}
